[run]
branch = True
omit =
    manage.py
    __init__.py
    config/**/*
    ./apps/*/migrations/*
    ./apps/*/urls.py
    tests.py
    test_*.py
    *_tests.py

[report]

exclude_also =
    ; Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    def __repr__

    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod