{% load static %}
{% load vite %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">

    {# servidos pelo ServeStatic a partir de SERVESTATIC_ROOT (public/), na raiz do site #}
    <link rel="manifest" crossorigin="anonymous" href="/manifest.json"/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block page_title %}{{ page_title }}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block css %}
        {% vite_css 'frontend/entries/app.js' %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block js %}
    {% vite_js 'frontend/entries/app.js' %}
{% endblock %}
</body>
</html>