{% load static %}
{% load vite %}

<!DOCTYPE html>
<html lang="{% get_current_language %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" crossorigin="anonymous" href="{% static 'manifest.json' %}"/>
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block page_title %}{{ page_title }}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block css %}
        {% vite_css 'app' %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block js %}
    {% vite_css 'app' %}
{% endblock %}
</body>
</html>